body{
    background-color: black;
}
h3{
    color: orangered;
}
.img1{
    height: 60px;
    width: 100px;
}
.p1{
    font-size: 35px;
}
.p2{
    font-size: 20px;
    font-weight: bold;
    color: orangered !important;
}
.mush2{
    width: 99%;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 2px grey;
}
.mush1{
    height: 200px;
    width: 98%; 
    border-radius: 10px;
}
#see{
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid orangered;
    background-color: orangered;
}
.item{
    width: 23%;

}
.item1{
    width: 40%;
}
.yeees{
    background-color: orangered;
}
input{
    border-radius: 5px;
    border: 1px solid white;
}